@model IEnumerable<Match_Form.Models.Player>

@{
    ViewData["Title"] = "Index";
}
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            if (ViewData["PlayerData"] != null)
            {
                if (ViewData.Values != null && ViewData.Values.Count() > 0)
                {
                    @foreach (var item in (IEnumerable<Player>)ViewData["PlayerData"])
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Position)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Team)
                            </td>
                            <td>
                                <button class="btn btn-info"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    }
                    }
                }
            }
                </tbody>
</table>